# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.db
*.db-journal

# Flutter
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/
frontend/.packages
frontend/pubspec.lock

# IDE
.vscode/settings.json
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Keys / secrets
*.key
*.pem
*.p12
